# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
#*.gch
#*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cinder Stuff
brain/blocks
brain/#CONTRIBUTING.md
brain/docs
brain/include
brain/lib
brain/#README.md
brain/samples
brain/src
brain/test
brain/tools
brain/vc2013
brain/vc2015_winrt
brain/xcode

# OSX
.DS_Store