# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cinder Stuff
blocks
#CONTRIBUTING.md
docs
include
lib
#README.md
samples
src
test
tools
vc2013
vc2015_winrt
xcode